<!DOCTYPE html>
<html>
<title>Examen Final Prova Practica Modul 2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
  <div class="w3-card-4">

  <div class="w3-container w3-brown">
    <h2>Registre d'empleats</h2>
  </div>
  <form class="w3-container" method="POST" action="update.php?id={{miembro.id}}">

  <p>
  <label class="w3-label w3-text-brown"><b>Id</b></label>
  <input class="w3-input w3-border w3-sand" name="id" type="text" value="{{miembro.id}}"></p>
  <p>
  <p>
  <label class="w3-label w3-text-brown"><b>Nombre</b></label>
  <input class="w3-input w3-border w3-sand" name="nombre" type="text" value="{{miembro.nombre}}"></p>
  <span >{{nameErr}}</span>
  <p>
  <label class="w3-label w3-text-brown"><b>Apellidos</b></label>
  <input class="w3-input w3-border w3-sand" name="apellidos" type="text" value="{{miembro.apellidos}}"></p>
  <span >{{apellidosErr}}</span>
  <p>

  <p>
  <label class="w3-label w3-text-brown"><b>Fecha de nacimiento</b><i> (format: 2016-07-17)</i></label>
  <input class="w3-input w3-border w3-sand" name="fechaNacimiento" type="text" value="{{miembro.fecha}}"></p>
  <span >{{fechaErr}}</span>
  
  <p><input class="w3-btn w3-brown" type="submit" value="Actualizar">
  <a href="listado.php">hacerlo que parezca un boton</a>  
  <button onclick="location.href='listado.php'">Volver</button>
  </p>
  </form>
</div>